/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 avr. 2015, 10:08:30
    Author     : User
*/
body{
    background-image:url(background.jpg);
    background-attachment:fixed;
    background-repeat:repeat;
}

.header{
    text-align: center;
    color:white;
    background-color: black;
    padding-top: 10px;
    height:70px;
}

.containerindex{
    color:white;
    text-align: center;
    margin-top:150px;
}

#logo{
    margin-top:-10px;
}

h3{
    color: black;
}

h5{
    text-align: center;
    font-size: 1.8em;
}

.containercontent{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    padding-top :40px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

footer{
    background-color: black;
    width: 100%;
    color:white;
    height:50px;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}

.containerarticle{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.containerinscrp{
    width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.titrecom{
    text-align: right; 
    background-color: #337AB7; 
    color:white; 
    border-radius: 0px 8px 8px 0px;
}

.result{
    padding:10px;
}

.result a{
    color:black;
    text-decoration: none;
}
.result:hover{
    opacity: 0.7;
}

.imgresult{
    border:2px solid black;
    border-radius: 10px;
    width:200px;
    height:200px;
}

.titreres{
    color: #337AB7;
    font-size: 25px;
}

.tags{
    width:90%;
    margin-right: 5px;
}

.titreadmin{
    text-align: center;
}